<div class="row">
  <div class="col-12">
      <div class="card">
                <div class="card card-body">

  <!--tabela-->
  <div class="container">
    <div class="row" >
      <div class="col">
              <div class="bg-light p-20">
                      <div class="d-flex">
                          <div class="align-self-center">
                              <h3 class="m-b-0">Fichas de Avaliações</h3>
                            </div>                          
                      </div>
              </div>
                  
      <div class="table-responsive"  > 
                  <table class="table table-hover earning-box">
                      <thead>
                          <tr>
                              <th></th>                              
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Avaliação Ortopedia</td>
                              <td><button (click)="redirect('4')" class="btn btn-info waves-effect waves-light m-t-10" type="button"><i class="fa fa-check"></i></button></td>                 
                          </tr>      
                          <tr>
                            <td>Avaliação Facial</td>
                            <td><button (click)="redirect('5')" class="btn btn-info waves-effect waves-light m-t-10" type="button"><i class="fa fa-check"></i></button></td>                 
                        </tr>        
                        <tr>
                            <td>Avaliação Acne e Seborreia</td>
                            <td><button (click)="redirect('1')" class="btn btn-info waves-effect waves-light m-t-10" type="button"><i class="fa fa-check"></i></button></td>                 
                        </tr>      
                        <tr>
                            <td>Avaliação Corporal</td>
                            <td><button (click)="redirect('3')" class="btn btn-info waves-effect waves-light m-t-10" type="button"><i class="fa fa-check"></i></button></td>                 
                        </tr>      
                        <tr>
                            <td>Avaliação de Estrias</td>
                            <td><button (click)="redirect('2')" class="btn btn-info waves-effect waves-light m-t-10" type="button"><i class="fa fa-check"></i></button></td>                 
                        </tr>  
                      </tbody>
                 </table>
              </div>
          </div>
      </div>
    </div>
    <!--fim-->
    </div>
  </div>
</div>
</div>