<div class="row" >
    <div class="col">
            <div class="bg-light p-20">
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h3 class="m-b-0">Histórico</h3></div>
                        <div class="ml-auto align-self-center">
                                <button (click)="cadastrarAgendamento()"class="btn btn-info waves-effect waves-light m-t-10" type="button">Novo</button></div>
                    </div>
                </div>
                <div class="container">
                    <div [hidden]="controle" class="alert alert-info" role="alert">
                        Nenhum Agendamento para a data escolhida!
                    </div>
                </div>
    <div class="table-responsive"  [hidden]="!controle" > 
                <table class="table table-hover earning-box">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pac of listaAgen; let i = index">
                            
                            <td>{{pac.cliente}}</td>
                            
                            <td><button type="button" class="btn btn-outline-info">{{pac.hora}}</button></td>
                                                
                        </tr>                    
                    </tbody>
               </table>
            </div>
        </div>
    </div>