<br>
<div class="row" >
    <div class="col">
      <!--new line-->
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label>1 - Tratamento Estético Anterior</label>
                           <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg1" type="radio" name="1" id="1" value="Sim" checked>
                              <label class="form-check-label" for="1">
                                Sim
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg1" name="1a" id="1a" value="Não">
                              <label class="form-check-label" for="1a">
                                Não
                              </label>
                          </div>
                    </div>
                </div>

              <div class="col-sm">
                <div class="form-group">
                    <label>2 - Utilização de Cosméticos</label>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="ficha.perg2" type="radio" name="2" id="2" value="Sim" checked>
                        <label class="form-check-label" for="2">
                            Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg2" name="2a" id="2a" value="Não">
                        <label class="form-check-label" for="2a">
                            Não
                        </label>
                      </div>
                </div>
              </div>

              <div class="col-sm">
                  <div class="form-group">
                      <label>3 - Exposição ao Sol</label>
                      <div class="form-check">
                          <input class="form-check-input" [(ngModel)]="ficha.perg3" type="radio" name="3" id="3" value="Sim" checked>
                          <label class="form-check-label" for="3">
                              Sim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg3" name="3a" id="3a" value="Não">
                          <label class="form-check-label" for="3a">
                              Não
                          </label>
                        </div>
                  </div>
              </div>

            </div>
          </div>
          <!--new line-->
          <div class="container">
              <div class="row">

                  <div class="col-sm">
                      <div class="form-group">
                          <label>4 - Tabagismo</label>
                          <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg4" type="radio" name="4" id="4" value="Sim" checked>
                              <label class="form-check-label" for="4">
                                  Sim
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg4" name="4a" id="4a" value="Não">
                              <label class="form-check-label" for="4a">
                                  Não
                              </label>
                            </div>
                      </div>
                  </div>

                  <div class="col-sm">
                      <div class="form-group">
                          <label>5 - Ingere Bebida Alcoólica</label>
                          <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg5" type="radio" name="5" id="5" value="Sim" checked>
                              <label class="form-check-label" for="5">
                                  Sim
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg5" name="5a" id="5a" value="Não">
                              <label class="form-check-label" for="5a">
                                  Não
                              </label>
                            </div>
                      </div>
                  </div>

                  <div class="col-sm">
                      <div class="form-group">
                          <label>6 - Qualidade do Sono</label>
                          <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg6" type="radio" name="6" id="6" value="Boa" checked>
                              <label class="form-check-label" for="6">
                                  Boa
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg6" name="6s" id="6s" value="Regular">
                              <label class="form-check-label" for="6s">
                                  Regular
                              </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg6" name="6a" id="6a" value="Péssima">
                                <label class="form-check-label" for="6a">
                                    Péssima
                                </label>
                              </div>
                      </div>
                  </div>

             </div>
          </div>

          <!--new line-->
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label>7 - Alimentação</label>
                           <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg7" type="radio" name="7" id="7" value="Boa" checked>
                              <label class="form-check-label" for="7">
                                Boa
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg7" name="7s" id="7s" value="Regular">
                              <label class="form-check-label" for="7s">
                                Regular
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg7" name="7a" id="7a" value="Péssima">
                              <label class="form-check-label" for="7a">
                                Péssima
                              </label>
                          </div>
                    </div>
                </div>

              <div class="col-sm">
                <div class="form-group">
                    <label>8 - Pratica Atividade Física</label>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="ficha.perg8" type="radio" name="8" id="8" value="Sim" checked>
                        <label class="form-check-label" for="8">
                            Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg8" name="8a" id="8a" value="Não">
                        <label class="form-check-label" for="8a">
                            Não
                        </label>
                      </div>
                </div>
              </div>

              <div class="col-sm">
                  <div class="form-group">
                      <label>9 - Uso de Anticoncepcional</label>
                      <div class="form-check">
                          <input class="form-check-input" [(ngModel)]="ficha.perg9" type="radio" name="9" id="9" value="Sim" checked>
                          <label class="form-check-label" for="9">
                              Sim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg9" name="9a" id="9a" value="Não">
                          <label class="form-check-label" for="9a">
                              Não
                          </label>
                        </div>
                  </div>
              </div>

            </div>
          </div>
          <!--new line-->
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label>10 - Gestação</label>
                           <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg10" type="radio" name="10" id="10" value="Sim" checked>
                              <label class="form-check-label" for="10">
                                Sim
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg10" name="10a" id="10a" value="Não">
                              <label class="form-check-label" for="10a">
                                Não
                              </label>
                          </div>
                    </div>
                </div>

              <div class="col-sm">
                <div class="form-group">
                    <label>11 - Tratamento Médico Atual</label>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="ficha.perg11" type="radio" name="11" id="11" value="Sim" checked>
                        <label class="form-check-label" for="11">
                            Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg11" name="11a" id="11a" value="Não">
                        <label class="form-check-label" for="11a">
                            Não
                        </label>
                      </div>
                </div>
              </div>

              <div class="col-sm">
                  <div class="form-group">
                      <label>12 - Antecedentes Alérgicos</label>
                      <div class="form-check">
                          <input class="form-check-input" [(ngModel)]="ficha.perg12" type="radio" name="12" id="12" value="Sim" checked>
                          <label class="form-check-label" for="12">
                              Sim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg12" name="12a" id="12a" value="Não">
                          <label class="form-check-label" for="12a">
                              Não
                          </label>
                        </div>
                  </div>
              </div>

            </div>
          </div>
          <!--new line-->
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label>13 - Portador de Marcapasso</label>
                           <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg13" type="radio" name="13" id="13" value="Sim" checked>
                              <label class="form-check-label" for="13">
                                Sim
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg13" name="13a" id="13a" value="Não">
                              <label class="form-check-label" for="13a">
                                Não
                              </label>
                          </div>
                    </div>
                </div>

              <div class="col-sm">
                <div class="form-group">
                    <label>14 - Alterações Cardiacas</label>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="ficha.perg14" type="radio" name="14" id="14" value="Sim" checked>
                        <label class="form-check-label" for="14">
                            Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg14" name="14a" id="14a" value="Não">
                        <label class="form-check-label" for="14a">
                            Não
                        </label>
                      </div>
                </div>
              </div>

              <div class="col-sm">
                  <div class="form-group">
                      <label>15 - Hipo/Hipertenção Arterial</label>
                      <div class="form-check">
                          <input class="form-check-input" [(ngModel)]="ficha.perg15" type="radio" name="15" id="15" value="Sim" checked>
                          <label class="form-check-label" for="15">
                              Sim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg15" name="15a" id="15a" value="Não">
                          <label class="form-check-label" for="15a">
                              Não
                          </label>
                        </div>
                  </div>
              </div>

            </div>
          </div>

          <!--new line-->
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label>16 - Distúrbio Circulatório</label>
                           <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg16" type="radio" name="16" id="16" value="Sim" checked>
                              <label class="form-check-label" for="16">
                                Sim
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg16" name="16a" id="16a" value="Não">
                              <label class="form-check-label" for="16a">
                                Não
                              </label>
                          </div>
                    </div>
                </div>

              <div class="col-sm">
                <div class="form-group">
                    <label>17 - Distúrbio Renal</label>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="ficha.perg17" type="radio" name="17" id="17" value="Sim" checked>
                        <label class="form-check-label" for="17">
                            Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg17" name="17a" id="17a" value="Não">
                        <label class="form-check-label" for="17a">
                            Não
                        </label>
                      </div>
                </div>
              </div>

              <div class="col-sm">
                  <div class="form-group">
                      <label>18 - Distúrbio Hormonal</label>
                      <div class="form-check">
                          <input class="form-check-input" [(ngModel)]="ficha.perg18" type="radio" name="18" id="18" value="Sim" checked>
                          <label class="form-check-label" for="18">
                              Sim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg18" name="18a" id="18a" value="Não">
                          <label class="form-check-label" for="18a">
                              Não
                          </label>
                        </div>
                  </div>
              </div>

            </div>
          </div>

          <!--new line-->
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label>19 - Distúrbio Gastro-Intestinal</label>
                           <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg19" type="radio" name="19" id="19" value="Sim" checked>
                              <label class="form-check-label" for="19">
                                Sim
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg19" name="19a" id="19a" value="Não">
                              <label class="form-check-label" for="19a">
                                Não
                              </label>
                          </div>
                    </div>
                </div>

              <div class="col-sm">
                <div class="form-group">
                    <label>20 - Epilepsia/Convulsões</label>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="ficha.perg20" type="radio" name="20" id="20" value="Sim" checked>
                        <label class="form-check-label" for="20">
                            Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg20" name="20a" id="20a" value="Não">
                        <label class="form-check-label" for="20a">
                            Não
                        </label>
                      </div>
                </div>
              </div>

              <div class="col-sm">
                  <div class="form-group">
                      <label>21 - Alterações Psicológicas</label>
                      <div class="form-check">
                          <input class="form-check-input" [(ngModel)]="ficha.perg21" type="radio" name="21" id="21" value="Sim" checked>
                          <label class="form-check-label" for="21">
                              Sim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg21" name="21a" id="21a" value="Não">
                          <label class="form-check-label" for="21a">
                              Não
                          </label>
                        </div>
                  </div>
              </div>

            </div>
          </div>

          <!--new line-->
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label>22 - Estresse</label>
                           <div class="form-check">
                              <input class="form-check-input" [(ngModel)]="ficha.perg22" type="radio" name="22" id="22" value="Sim" checked>
                              <label class="form-check-label" for="22">
                                Sim
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg22" name="22a" id="22a" value="Não">
                              <label class="form-check-label" for="22a">
                                Não
                              </label>
                          </div>
                    </div>
                </div>

              <div class="col-sm">
                <div class="form-group">
                    <label>23 - Antecedentes Oncológicos</label>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="ficha.perg23" type="radio" name="23" id="23" value="Sim" checked>
                        <label class="form-check-label" for="23">
                            Sim
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg23" name="23a" id="23a" value="Não">
                        <label class="form-check-label" for="23a">
                            Não
                        </label>
                      </div>
                </div>
              </div>

              <div class="col-sm">
                  <div class="form-group">
                      <label>24 - Diabetes</label>
                      <div class="form-check">
                          <input class="form-check-input" [(ngModel)]="ficha.perg24" type="radio" name="24" id="24" value="Sim" checked>
                          <label class="form-check-label" for="24">
                              Sim
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [(ngModel)]="ficha.perg24" name="24a" id="24a" value="Não">
                          <label class="form-check-label" for="24a">
                              Não
                          </label>
                        </div>
                  </div>
              </div>

            </div>
          </div>

          <div class="container">
              <div class="row">
                <div class="form-group">
                    <label>Observações</label>
                    <textarea class="form-control" [(ngModel)]="ficha.obs" rows="3"></textarea>
                </div>
                Alterado em {{dat}}.
              </div>
          </div>
          <div class="container">
              <button (click)="alterarFicha()" class="btn btn-info waves-effect waves-light m-t-10">Salvar</button>
          </div>


    </div>
</div>
